# Global ownership
* @AyhamJo7

# Track-specific (optional fine-grain)
00-git-path/ @AyhamJo7
01-web-development/ @AyhamJo7
02-python/ @AyhamJo7
03-java/ @AyhamJo7
04-go/ @AyhamJo7
05-ai-ml/ @AyhamJo7
06-cyber-security/ @AyhamJo7